<a href="https://colab.research.google.com/github/sitirahmalatuconsina19/sitirahma_Datamining/blob/main/AlgoritmaC45.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('/content/jabodetabek_house_price.csv')
df

,url,price_in_rp,title,address,district,city,lat,long,facilities,property_type,...,electricity,maid_bedrooms,maid_bathrooms,floors,building_age,year_built,property_condition,building_orientation,garages,furnishing
0,https://www.rumah123.com/properti/bekasi/hos11...,2.990000e+09,Rumah cantik Sumarecon Bekasi\nLingkungan asri...,"Summarecon Bekasi, Bekasi",Summarecon Bekasi,Bekasi,-6.223945,106.986275,"Tempat Jemuran, Jalur Telepon, Taman, Taman",rumah,...,4400 mah,0.0,1.0,2.0,5.0,2017.0,bagus,NaN,0.0,unfurnished
1,https://www.rumah123.com/properti/bekasi/hos10...,1.270000e+09,"Rumah Kekinian, Magenta Summarecon Bekasi","Summarecon Bekasi, Bekasi",Summarecon Bekasi,Bekasi,-6.223945,106.986275,Taman,rumah,...,2200 mah,0.0,0.0,2.0,NaN,NaN,bagus,NaN,0.0,NaN
2,https://www.rumah123.com/properti/bekasi/hos10...,1.950000e+09,Rumah Cantik 2 Lantai Cluster Bluebell Summare...,"Summarecon Bekasi, Bekasi",Summarecon Bekasi,Bekasi,-6.223945,106.986275,"Jogging Track, Kolam Renang, Masjid, Taman,...",rumah,...,2200 mah,1.0,1.0,2.0,NaN,NaN,bagus,NaN,1.0,unfurnished
3,https://www.rumah123.com/properti/bekasi/hos10...,3.300000e+09,Rumah Mewah 2Lantai L10x18 C di Cluster VERNON...,"Summarecon Bekasi, Bekasi",Summarecon Bekasi,Bekasi,-6.223945,106.986275,"Jalur Telepon, Jogging Track, Track Lari, K...",rumah,...,3500 mah,1.0,1.0,2.0,6.0,2016.0,bagus sekali,utara,2.0,unfurnished
4,https://www.rumah123.com/properti/bekasi/hos10...,4.500000e+09,"Rumah Hoek di Cluster Maple Summarecon Bekasi,...","Summarecon Bekasi, Bekasi",Summarecon Bekasi,Bekasi,-6.223945,106.986275,"Jogging Track, Kolam Renang, Taman, Jalur Te...",rumah,...,3500 mah,1.0,1.0,2.0,9.0,2013.0,bagus,utara,1.0,unfurnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3548,https://www.rumah123.com/properti/tangerang/ho...,5.880000e+08,Terbaru Cluster Minimalis Sudimara Dekat Stasiun,"Jombang, Tangerang",Jombang,Tangerang,-6.296615,106.704601,"Masjid, Taman, Tempat Jemuran, Keamanan 24 ja...",rumah,...,1300 mah,0.0,0.0,1.0,0.0,2022.0,baru,NaN,1.0,furnished
3549,https://www.rumah123.com/properti/tangerang/ho...,7.850000e+08,Rumah Modern Asri dan Nyaman Bebas Banjir Loka...,"Lengkong Kulon, Tangerang",Lengkong Kulon,Tangerang,-6.283454,106.638775,"Masjid, Keamanan, Jogging Track, Taman, Tem...",rumah,...,1300 mah,0.0,0.0,2.0,0.0,2022.0,baru,utara,0.0,unfurnished
3550,https://www.rumah123.com/properti/tangerang/ho...,7.550000e+08,Rumah Mewah Murah 2 Lantai Gratis Biaya Biaya ...,"Lengkong Kulon, Tangerang",Lengkong Kulon,Tangerang,-6.283454,106.638775,"Keamanan, Taman, Jogging Track, Tempat Jemur...",rumah,...,1300 mah,0.0,0.0,2.0,0.0,2022.0,baru,utara,0.0,unfurnished
3551,https://www.rumah123.com/properti/tangerang/ho...,8.000000e+08,Rumah 2 Lantai Dekat Perkantoran BSD City AEON...,"BSD Provance Parkland, Tangerang",BSD Provance Parkland,Tangerang,-6.288237,106.665859,"Tempat Jemuran, Keamanan, Keamanan 24 jam, Was...",rumah,...,2200 mah,0.0,0.0,2.0,0.0,2022.0,baru,selatan,0.0,furnished
3552,https://www.rumah123.com/properti/tangerang/ho...,6.550000e+08,"Rumah 2 Lantai Harga 1 Lantai Di Pamulang, Fre...","Sudimara, Tangerang",Sudimara,Tangerang,-6.296963,106.710635,"Kulkas, Masjid, Taman, Lapangan Bola, Tempat ...",rumah,...,1300 mah,0.0,0.0,2.0,0.0,2022.0,baru,timur,2.0,semi furnished

In [9]:
df.isnull().sum()

url                        0
price_in_rp                0
title                      0
address                    0
district                   0
city                       0
lat                        0
long                       0
facilities                 0
property_type              1
ads_id                     4
bedrooms                  34
bathrooms                 29
land_size_m2               2
building_size_m2           2
carports                   0
certificate              141
electricity                0
maid_bedrooms              0
maid_bathrooms             0
floors                     6
building_age            1445
year_built              1445
property_condition       246
building_orientation    1647
garages                    0
furnishing               387
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3553 entries, 0 to 3552
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   url                   3553 non-null   object
 1   price_in_rp           3553 non-null   float64
 2   title                 3553 non-null   object
 3   address               3553 non-null   object
 4   district              3553 non-null   object
 5   city                  3553 non-null   object
 6   lat                   3553 non-null   float64
 7   long                  3553 non-null   float64
 8   facilities            3553 non-null   object
 9   property_type         3552 non-null   object
 10  ads_id                3549 non-null   object
 11  bedrooms              3519 non-null   float64
 12  bathrooms             3524 non-null   float64
 13  land_size_m2          3551 non-null   float64
 14  building_size_m2      3551 non-null   float64
 15  carports              3553 non-null   float64
 16  certificate           3412 non-null   object
 17  electricity           3553 non-null   object
 18  maid_bedrooms         3553 non-null   float64
 19  maid_bathrooms        3553 non-null   float64
 20  floors                3547 non-null   float64
 21  building_age          2108 non-null   float64
 22  year_built            2108 non-null   float64
 23  property_condition    3307 non-null   object
 24  building_orientation  1906 non-null   object
 25  garages               3553 non-null   float64
 26  furnishing            3166 non-null   object
dtypes: float64(14), object(13)
memory usage: 749.6+ KB

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [12]:
for column in df:
  if df[column].dtypes == object:
    df[column] = le.fit_transform(df[column])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3553 entries, 0 to 3552
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   url                   3553 non-null   int64
 1   price_in_rp           3553 non-null   float64
 2   title                 3553 non-null   int64
 3   address               3553 non-null   int64
 4   district              3553 non-null   int64
 5   city                  3553 non-null   int64
 6   lat                   3553 non-null   float64
 7   long                  3553 non-null   float64
 8   facilities            3553 non-null   int64
 9   property_type         3553 non-null   int64
 10  ads_id                3553 non-null   int64
 11  bedrooms              3519 non-null   float64
 12  bathrooms             3524 non-null   float64
 13  land_size_m2          3551 non-null   float64
 14  building_size_m2      3551 non-null   float64
 15  carports              3553 non-null   float64
 16  certificate           3553 non-null   int64
 17  electricity           3553 non-null   int64
 18  maid_bedrooms         3553 non-null   float64
 19  maid_bathrooms        3553 non-null   float64
 20  floors                3547 non-null   float64
 21  building_age          2108 non-null   float64
 22  year_built            2108 non-null   float64
 23  property_condition    3553 non-null   int64
 24  building_orientation  3553 non-null   int64
 25  garages               3553 non-null   float64
 26  furnishing            3553 non-null   int64
dtypes: float64(14), int64(13)
memory usage: 749.6 KB

In [14]:
df

,url,price_in_rp,title,address,district,city,lat,long,facilities,property_type,...,electricity,maid_bedrooms,maid_bathrooms,floors,building_age,year_built,property_condition,building_orientation,garages,furnishing
0,443,2.990000e+09,2841,355,343,0,-6.223945,106.986275,1836,0,...,18,0.0,1.0,2.0,5.0,2017.0,0,8,0.0,3
1,48,1.270000e+09,1874,355,343,0,-6.223945,106.986275,1394,0,...,10,0.0,0.0,2.0,NaN,NaN,0,8,0.0,4
2,49,1.950000e+09,1581,355,343,0,-6.223945,106.986275,395,0,...,10,1.0,1.0,2.0,NaN,NaN,0,8,1.0,3
3,73,3.300000e+09,1972,355,343,0,-6.223945,106.986275,298,0,...,16,1.0,1.0,2.0,6.0,2016.0,1,7,2.0,3
4,57,4.500000e+09,1836,355,343,0,-6.223945,106.986275,399,0,...,16,1.0,1.0,2.0,9.0,2013.0,0,7,1.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3548,3331,5.880000e+08,3236,197,189,8,-6.296615,106.704601,1335,0,...,4,0.0,0.0,1.0,0.0,2022.0,2,8,1.0,1
3549,3300,7.850000e+08,2181,242,231,8,-6.283454,106.638775,1313,0,...,4,0.0,0.0,2.0,0.0,2022.0,2,7,0.0,3
3550,3298,7.550000e+08,2026,242,231,8,-6.283454,106.638775,550,0,...,4,0.0,0.0,2.0,0.0,2022.0,2,7,0.0,3
3551,3292,8.000000e+08,1047,20,21,8,-6.288237,106.665859,1852,0,...,10,0.0,0.0,2.0,0.0,2022.0,2,3,0.0,1
3552,3286,6.550000e+08,1063,349,338,8,-6.296963,106.710635,1258,0,...,4,0.0,0.0,2.0,0.0,2022.0,2,5,2.0,2

In [15]:
df.describe()

,url,price_in_rp,title,address,district,city,lat,long,facilities,property_type,...,electricity,maid_bedrooms,maid_bathrooms,floors,building_age,year_built,property_condition,building_orientation,garages,furnishing
count,3553.000000,3.553000e+03,3553.000000,3553.000000,3553.000000,3553.000000,3553.000000,3553.000000,3553.000000,3553.000000,...,3553.000000,3553.000000,3553.000000,3547.000000,2108.000000,2108.000000,3553.000000,3553.000000,3553.000000,3553.000000
mean,1775.764143,4.191685e+09,1673.018576,185.258373,177.927667,3.431185,-6.324721,106.792881,1080.590768,0.000281,...,12.371517,0.496482,0.370391,1.764590,3.880930,2018.137097,1.654095,5.922882,0.708978,2.716015
std,1025.494912,1.375067e+10,970.625873,116.893129,113.203213,3.088021,0.129245,0.172159,529.193991,0.016777,...,7.570718,0.685723,0.536024,0.637349,7.603708,7.641448,1.961473,2.499936,1.311879,0.777365
min,0.000000,4.200000e+07,0.000000,0.000000,0.000000,0.000000,-6.894828,106.402315,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,1870.000000,0.000000,0.000000,0.000000,0.000000
25%,888.000000,8.000000e+08,828.000000,89.000000,86.000000,1.000000,-6.397933,106.687295,679.000000,0.000000,...,8.000000,0.000000,0.000000,1.000000,0.000000,2016.000000,0.000000,4.000000,0.000000,2.000000
50%,1776.000000,1.500000e+09,1673.000000,171.000000,164.000000,2.000000,-6.300733,106.799954,1194.000000,0.000000,...,10.000000,0.000000,0.000000,2.000000,1.000000,2021.000000,2.000000,7.000000,0.000000,3.000000
75%,2664.000000,3.590000e+09,2515.000000,293.000000,282.000000,7.000000,-6.231754,106.874766,1522.000000,0.000000,...,16.000000,1.000000,1.000000,2.000000,6.000000,2022.000000,2.000000,8.000000,1.000000,3.000000
max,3551.000000,5.800000e+11,3341.000000,396.000000,379.000000,8.000000,-6.102478,109.771691,2023.000000,1.000000,...,29.000000,7.000000,5.000000,5.000000,152.000000,2052.000000,7.000000,8.000000,50.000000,4.000000

In [16]:
df = df.drop(['url'], axis=1)

In [17]:
x = df.drop(['property_type'], axis=1)
y = df['property_type']

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.2)

In [19]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(random_state=500, max_depth=None,
                               min_samples_split=2,
                               min_samples_leaf=1,
                               min_weight_fraction_leaf=0,
                               max_leaf_nodes=None,
                               min_impurity_decrease=0)

In [24]:
clf.predict(x_test)

NameError: ignored

In [ ]:
model.score(x_test, y_test)

0.7769816390506046

In [20]:
from sklearn.tree import export_graphviz
import graphviz

tree_data = export_graphviz(model, out_file = None,
                                feature_names = x.columns,
                                class_names = ['0','1'],
                                filled = True)

NotFittedError: ignored

In [21]:
graph = graphviz.Source(tree.data)
graph.view

NameError: ignored

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

#Confusion Matrix
y_pred = model.predict(x_test)
cm = confusion_matrix(y_test,y_pred)
print("CONFUSION MATRIX")
print(cm)
akurasi=classification_report(y_test,y_pred)
print("ACCURACY C4.5")
print("Accuracy :", akurasi)
akurasi=accuracy_score(y_test,y_pred)
print('Tingkat akurasi : {:.2%}'.format(akurasi))

CONFUSION MATRIX
[[937 245]
 [253 798]]
ACCURACY C4.5
Accuracy :               precision    recall  f1-score   support

           0       0.79      0.79      0.79      1182
           1       0.77      0.76      0.76      1051

    accuracy                           0.78      2233
   macro avg       0.78      0.78      0.78      2233
weighted avg       0.78      0.78      0.78      2233

Tingkat akurasi : 77.70%